/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input {
    padding: 5px;
}


li {
    list-style: none;
}

/* UTILITIES */
.black {
    background: #000;
}

.big-text {
    font-size: 130%;
}

.button {
    padding: 15px;
    font-size: 120%;
}

.container {
    padding: 25px;
    border: 2px solid #fff;
    height: 454px;
}

.flex-nw {
    display: flex;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.central {
    margin: auto;
}

.text-right {
    text-align: right;
}

.green {
    background: green;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.section-header {
    margin-bottom: 15px;
}

.small-text {
    font-size: 80%;
}

.white-color {
    color: #fff;
}

/* APP */
.app {
    max-width: 1000px;
}

/* main: MAIN MENU */
.main-menu {
    padding: 5px 20px;
    justify-content: flex-end;
}

.main-menu * {
    flex-basis: calc(100% / 3)
}

#play-button {
    cursor: pointer; 
}

/* main: MESSAGE-WRAPPER */
.message-wrapper {
    flex-basis: 25%;
    margin: 0 auto
}

.message-wrapper header {
    margin-bottom: 25px;
}

.message-wrapper .row {
    justify-content: center;
}

.output-wrapper {
    margin: 10px;
}

.output-box {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    font-size: 200%;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

.text-box {
    margin: 25px 45px;
}

/* main: MAIN-TABLE */
.main-board {
    margin: 0 auto;
    width: 400px;
    align-content: start;
}

.main-board-button {
    padding: 0;
    flex-basis: 40px;
    height: 40px;
    font-size: 75%;
    background: gray;
}

.main-board-button.attempted:disabled {
    background: green;
    color: #fff
}

.main-board-button:not(.attempted.losing-numbers):disabled {
    background: blue;
    color: #fff;
}

.main-board-button.losing-numbers:disabled {
    background: red;
    color: #fff;
}


/* FOOTER  */
footer {
    font-style: italic;
    font-size: 5px;
    text-align: right;
    padding: 0 15px 10px;
    height: 28px;
  }
